// Components
// Which can be shared between website and other environments such as panels or landing pages
.header {
    position:relative;
    z-index: 10;
    background-color: $White;

    &.scrolling {
        &>*:first-child {
            transition:background 0.3s, opacity 0.3s;
            height:60px;
            width:100%;
            position: fixed;
            opacity: 0.8;
        }
    }

    .logo {
        a {
            display:inline-block;
            img {
                filter: grayscale(100%) brightness(200%);
                height:36px;
            }
        }
    }

    .mobile-menu {
        height: calc(100vh - 60px);
        position: fixed;
        opacity:0;
        pointer-events:none;
        top: 60px;
        left: -100vw;
        width: 80vw;
        background-color: $White;
        z-index: 9999;
        transition:left 0.3s, opacity 0.3s;

        &:before {
            transition:width 0.3s, left 0.3s;
            z-index: 999;
            content:'';
            position:fixed;
            width: 100vw;
            height: calc(100vh - 60px);
            top: 60px;
            left: 0vw;
            background-color: $Gray2;
            opacity:0;
        }

        &.is-open {
            left: 0vw;
            opacity:1;
            pointer-events:auto;

            &:before {
                width: 20vw;
                opacity:0.9;
                left: 80vw;
            }
        }

        a {
            display: block;
            color: $Gray2;
            text-decoration: none;
            line-height: 60px;
            padding:0 24px;
            border-bottom: 1px solid $Gray6;
            i {
                color: $Primary;
                margin-right:6px;
            }
            &.active {
                background:$Primary;
                color:$White;
                i {
                    color: $White;
                }
            }
        }
    }

    .top-nav {
        min-width:250px;
    }

    .top-nav--link {
        display: inline-block;
        color: $White;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        margin:0 12px;
        font-size: 14px;
        &:hover, &.active {
            border-bottom-color: $Primary;
        }
    }
}

.main-header {
    height: 60px;
    background: $Gray2;
}
.sub-header {
    background-color: $Gray6;
    padding: 0 0 6px;
    @media (min-width:$mobilePortraitMax) {
        padding: 6px 0;
    }
}

.header-breadcrumbs {
    color: $Primary;
    line-height: 33px;
    @media (max-width:$mobilePortraitMax) {
        text-align: center;
    }
}

.header-breadcrumbs-link {
    color: $Primary;
    font-size: 11px;
    text-decoration: none;
    &.active {
        text-decoration: underline;
    }
}

.collapsible-block {

    .collapsible-block--title {
        position: relative;
        display:block;
        cursor:pointer;
        height:40px;
        &:after {
            transition: transform 0.3s;
            position:absolute;
            right:0px;
            top:4px;
            font-family: 'Font Awesome 5 Pro';
            content:'\f078';
            font-size: 16px;
        }
        &:hover {
            color: $Primary;
        }
    }

    .collapsible-block--content {
        transition: max-height 0.5s, opacity 0.3s;
        max-height:1px;
        opacity:0;
        overflow:hidden;
    }

    &.is-open {
        .collapsible-block--title {
            color: $Primary;
            &:after {
                transform:rotate(180deg);
            }
        }
        .collapsible-block--content {
            max-height:600px;
            opacity:1;
        }
    }
}

.pagination {
    .pagination--element {
        display: inline-block;
        padding:4px 12px;
        background:$White;
        border:1px solid $Gray5;
        color:$Primary;
        text-decoration: none;
        font-size: 14px;
        min-width:35px;
        text-align:center;
        &:first-child {
            border-top-left-radius:4px;
            border-bottom-left-radius:4px;
        }
        &:last-child {
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
        }
        &.active, &:hover {
            background:$Primary;
            color: $White;
        }
        &.disabled {
            background:$Gray5;
            color: $Gray3;
        }
    }
}

.footer {
    display: block;
    padding-top: $sectionPadding;
}