// Website Exclusive Styles

.site-title {
    font-family: "Trebuchet MS";
    text-transform: uppercase;
    font-size: 34px;
    line-height: 40px;
    color: $Gray2;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
}

.site-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: .4px;
    font-weight: 400;
    color: $Gray3;
}

.articles-slider {
    li {
        margin:0 12px 0 0;
        text-align:center;
    }
}

.social-cloud {
    &>.cell {
        background: $Gray2;
        color: $White;
        margin:10px;
        padding:15px;
        text-align:center;
    }
}